<div class="row">
  <div class="col s6 button-container">
    <a id="add-book-button" href="/books/new" class="waves-effect waves-light btn-large indigo lighten-2 hoverable">Add Book</a>
  </div>
  <div class="col s6 button-container">
    <a id="add-author-button" href="authors/new" class="waves-effect waves-light btn-large indigo lighten-2 hoverable">Add Author</a>
  </div>
</div>

<div class="row">

  {{#each reformatted}}
    <div class="col s12">
      <div class="card horizontal">
        <div class="card-image">
          <img class="author-portrait"src="{{this.author_portrait_url}}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3 class="author-name">{{this.author_first_name}} {{this.author_last_name}}</h3>
            <p class="book-description">{{this.author_biography}}</p>
            <br>
            <p>Books:</p>
            <br>
            {{#each this.books}}
              <a href="/books/{{this.book_id}}"><p class="author-books">{{this.book_title}}</p></a>
            {{/each}}
          </div>
          <div class="card-action">
            <a href="/authors/{{this.author_id}}">Details</a>
          </div>
        </div>
      </div>
    </div>
  {{/each}}

</div>
