<div class="row">
  <div class="col s12">
    <div class="card-panel indigo lighten-1">
      <h3 class="edit-book-title center-align white-text">Edit a Book</h3>
    </div>
  </div>
</div>

<div class="row">
  <form class="col s12" action="/{{id}}/edit?_method=put" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input name="title" id="title" type="text" class="validate" value="{{this.title}}">
        <label for="title">Title</label>
      </div>
      <div class="input-field col s6">
        <input name="genre" id="genre" type="text" class="validate" value="{{this.genre}}">
        <label for="genre">Genre</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea name="description" id="description" class="materialize-textarea" class="validate">{{this.description}}</textarea>
        <label for="description">Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input disabled id="author" type="text" class="validate">
        <label for="author">Author</label>
      </div>
      <div class="input-field col s6">
        <input name="cover_url" id="cover_url" type="text" class="validate" value="{{this.cover_url}}">
        <label for="cover_url">Cover URL</label>
      </div>
    </div>
    <button type="submit" class="waves-effect waves-light btn-large indigo lighten-2 hoverable">Submit Edits</button>
  </form>
</div>
